@import 'compass/css3';
@import "compass/utilities";

%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

@function multiplica-font-size ($multiplicador: 1) {
  @return $multiplicador * $font-size-padrao;
}
