.destaque {
  background: url(../imagens/destaque.jpg) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  height: 330px;
  padding-top: multiplica-font-size(10);

  p {
    width: multiplica-font-size(30);

    &:first-child {
      width: multiplica-font-size(30);
      font-size: multiplica-font-size(1.3);
      line-height: 1.1;
    }

    &:first-child:first-line {
      font-size: multiplica-font-size(2.2);
      font-weight: bold;
    }
  }

  button {
    margin-top: multiplica-font-size(1);
    background: $cor-padrao;
    border: 0;
    padding: multiplica-font-size(0.6);
    font-size: multiplica-font-size(1.2);
    font-weight: bold;
    @include border-radius(50px);
    @include box-shadow($sombra-botao);
  }

  @media #{$mq-mobile} {
    font-size: 14px;
    height: 250px;
  }
}
