footer {
  display: block;
  position: relative;

  &::after {
    content: '';
    background: url(../imagens/fundo-rodape.png);
    opacity: 0.02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &::before {
    content: '';
    background: $cor-auxiliar;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .container {
    padding-top: 3em;
    height: 6.5em;
    position: relative;

    img {
      width: 250px;
    }
  }

  a {
    color: $cor-branca;
    text-decoration: none;
  }
}

.menu-rodape,
.social {
  position: absolute;
}

.menu-rodape {
  top: 1em;
  right: 0;

  ul li {
    display: inline-block;
    margin-left: 2em;
  }
}

.social {
  bottom: 0;
  right: 0;

  li {
    float: left;

    a {
      display: block;
      width: 55px;
      height: 55px;
      @include image-replacement;
      margin-left: 1em;
    }
  }
}

.menu-rodape li,
.social li {
  display: inline;
}

.social a {
  background-position: top;
  background-size: 50px 50px;

  &[href*='facebook'] {
    background-image: url(../imagens/facebook.png);
  }
  &[href*='twitter'] {
    background-image: url(../imagens/twitter.png);
  }
  &[href*='instagram'] {
    background-image: url(../imagens/instagram.png);
  }
}
