body {
  font-family: 'Roboto Slab', serif;
}

.container {
  width: 940px;
  margin: 0 auto;

  @media #{$mq-mobile} {
    width: 90%;
  }
}

.titulo-secao {
  text-decoration: underline;
  font-size: multiplica-font-size(2);
  text-align: center;
}

.sobre,
.planos,
.blog,
.contato {
  padding: multiplica-font-size(3) 0 multiplica-font-size(6) 0;
}

h2 {
  margin-top: 0;
}

@media #{$mq-mobile} {
  form {
    width: auto;
  }
}
