header {
  border-top: 5px solid $cor-padrao;
  background: rgba($cor-auxiliar, 0.8);
  height: 90px;
  width: 100%;
  position: absolute;

  @media #{$mq-mobile} {
    height: auto;

    .container {
      position: static;
    }

    h1 {
      max-width: 50%;
      margin: 0 auto;

      img {
        max-width: 100%;
        margin: multiplica-font-size(0.5) auto;
        display: block;
      }
    }
  }
}

header .container {
  position: relative;

  @media #{$mq-mobile} {
    position: static;
  }
}

.menu-principal {
  position: absolute;
  right: 0;
  top: multiplica-font-size(-0.5);
  font-size: multiplica-font-size(1.2);
  font-weight: lighter;

  @media (max-width: 980px) {
    position: static;
    display: block;
    text-align: center;
    width: auto;
  }

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    width: multiplica-font-size(5);

    @media (max-width: 980px) {
      margin: multiplica-font-size(0.4);
      width: auto;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
