/** Planos **/
.planos {
  background: $cor-auxiliar;

  h2 {
    color: $cor-branca;
  }
}

.plano {
  background: white;
  width: multiplica-font-size(18);
  display: inline-block;
  margin: multiplica-font-size(1) 0 0 multiplica-font-size(1.4);
  padding-bottom: multiplica-font-size(2);

  &:hover {
    background: #dedede;
  }

  h3 {
    color: $cor-branca;
    font-size: multiplica-font-size(1.8);
    background: $cor-padrao;
    text-align: center;
    height: multiplica-font-size(2);
    padding-top: multiplica-font-size(0.6);
    padding-bottom: multiplica-font-size(0.6);
    margin-top: 0;
  }

  div {
    text-align: center;
    color: $cor-padrao;
    font-size: multiplica-font-size(2.75);
  }

  button {
    background: $cor-padrao;
    border: 0;
    color: $cor-branca;
    width: 210px;
    height: 38px;
    font-size: multiplica-font-size(1.2);
    @include border-radius($raio-padrao);
    @include box-shadow($sombra-botao);
    margin-left: multiplica-font-size(2);
  }
}

.itens-plano {
  padding-left: multiplica-font-size(1.2);

  li {
    font-size: multiplica-font-size(1);
    list-style: none;
    border-bottom: 1px solid #acacac;
    padding: multiplica-font-size(0.5);
    width: multiplica-font-size(14.8);

    &:last-child {
      border: 0;
    }
  }

  span {
    float: right;
  }
}

.icone-check,
.icone-x {
  background: url(../imagens/sprite.png) no-repeat;
  width: 18px;
  height: 18px;
}

.icone-check {
  background-position: -5px -5px;
}

.icone-x {
  background-position: -33px -5px;
}
